/* sets min vh*/
#root {
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

/* styling for navbar*/ 
.navBar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #ED217C;
}

/* bg color for hover */
.dropdown-item:hover {
    background-color: #ED217C;
}
