/* sets basic styling for root id*/
#root {
    min-height: 100vh;
    margin: 0;
    overflow-x: hidden;
}
/* sets nav bar styling*/
.navBar {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: #ED217C;
}

/* sets dropdown bg color styling*/
.dropdown-item:hover {
    background-color: #ED217C;
}
